* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header img {
    width: 280px;
    margin: 0 auto;
}

header {
    position: relative;
    background-color: #0097A7;
    text-align: center;
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 14%);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    color: #fff !important;
    margin: 20px 0;
    font-size: 24px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #0097A7;

}

h3 {
    font-size: 25px;
    margin: 30px 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.menu {
    color: #ffffff;
    margin-left: 400px;

}

.menu:hover{
    color:rgb(0, 5, 32)
}

.btn-primary,
.btnEditar,
.btnEnviar {
    background-color: #0097A7;
    border-color: #0097A7;
    text-transform: uppercase;
    margin: 10px 0;
}

.btnCancelar,
.btnExcluir {
    background-color: #e90606;
    border-color: #ca17179f;
    text-transform: uppercase;
    margin: 0px 10px;

}
.cadastroCurso {
    display: flex;
    flex-direction: column;
    list-style: none;

}

.addCurso, .editarCurso{
    display: none;
}

label {
    width: 120px;
    margin-top: 10px;

}

input {
    width: 400px;
}

table img {
    width: 220px;
    border: 1px solid #ccc;
}


.rodape {
    background-color: #0097A7;
    padding: 20px;
}



.linkRodape a {
  color:rgb(2, 0, 10);

}


@media only screen and (max-width: 480px) {
   header{
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   
    header img {
       width: 100px;
   } 

   header h1 {
       font-size: 12px;
   }

   .menu {
    margin-left: 10px;
    font-size: 5px;

    }

    .tabela {
        font-size: 10px;
        
    }

    .rodape {
        padding: 10px;
        font-size: 10px;
        display: flex;
    }

    .img-preview {
        max-width: 400px;
    }
    
    .descricao-form {
        width: 400px;
        height: 100px;
    }
}